{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="w-full flex items-center justify-center py-12 px-4">

    <div class="w-full max-w-md rounded-lg shadow-xl p-8  text-center">
        <h1 class="text-3xl font-bold text-white mb-4">{% trans "Sign Out" %}</h1>
        <p class="mb-8 text-gray-300">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="flex justify-center space-x-4">
                <a href="{{ request.META.HTTP_REFERER|escape }}" class="px-6 py-2 rounded bg-gray-600 hover:bg-gray-500 text-white font-semibold transition duration-200">
                    취소
                </a>
                <button type="submit" class="px-6 py-2 rounded bg-red-600 hover:bg-red-700 text-white font-semibold transition duration-200">
                    {% trans 'Sign Out' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}