{% if page_obj.has_other_pages %}
<div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {# 5페이지 이전으로 (<<) #}
            {% if jump_prev_page %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ jump_prev_page }}"><i class="fa-solid fa-angles-left"></i></a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa-solid fa-angles-left"></i></span></li>
            {% endif %}
            
            {# 1페이지 이전으로 (<) #}
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa-solid fa-angle-left"></i></span></li>
            {% endif %}

            {# 페이지 번호들 #}
            {% for i in custom_page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {# 1페이지 다음으로 (>) #}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa-solid fa-angle-right"></i></span></li>
            {% endif %}

            {# 5페이지 다음으로 (>>) #}
            {% if jump_next_page %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ jump_next_page }}"><i class="fa-solid fa-angles-right"></i></a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa-solid fa-angles-right"></i></span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}